/**
 * styles.css
 * Global CSS.
 */
body
{
   
    background: url(fonzn.png) repeat-y; /* Параметры фона */
/*    background-origin: */
    /*background-attachment: fixed;*/
    
      /*Фон занимает всю доступную площадь*/ 
    /*background-size: cover;*/
    background-position: left top;
    /*background-position: 0px 100px;*/
}

/*вывод статей по астрологии*/
 
.panel {    
    display:none;
    background-color:rgb(237, 237, 237);
    border:hsl(0, 0%, 75%) solid 1px;

    color:#444;
    height:auto;
    margin-bottom: 20px; 
    /*text-indent: 1em; /*Отступ первой строки*/ 
    padding: 10px; /*отступ от рамки*/
    width: 100%;
    /*float: left;*/
    /*text-align: left;*/
}
.panel img {
    margin: auto;
}

.btn-slide {
    width: 100%;
    /*background-color:rgb(237, 237, 237);*/
    /*font-weight: bold;*/
    font-size: medium;
    text-align: left;
    padding: 5px; /*отступ от рамки*/
    /*border:hsl(0, 0%, 75%) solid 1px;*/
    cursor:pointer;
    color: royalblue;
    margin:0 0 0;
}
.hidd:hover{
    color:darkblue;
}

.active {
    color:darkblue;
}

/*вывод статей по астрологии*/

#add_art_btn {
    float: left;
}

#contacts {
    margin-left: 20%;
}

#top 
{
    margin: 5px 0 5px 0;
    padding-left: 115px;
/*    filter: alpha(Opacity=80);
    opacity: 0.80; */
    /*background-color: white;*/
}
.container
{
/*     center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
hr 
{
/*    width: 80%;  ширина линии 
    height: 4px;  высота / толщина линии 
    background: #333;  фон / цвет линии 
    border: 0;  рамка вокруг разделительной линии (уберем ее) */
    margin: 5px 0 5px 0; /* отступ над и под линией 5 пикселей */
}

#art_name_input {
    width: 100%;
}

.logo {
    width: 50px; 
    height: 50px;
    display: block; 
    float: left;
    margin: 5px;
    /*margin-left: 0;*/       
}

.lang
{
    /*right contents*/ 
/*    text-align: right; */
    float: right;
}

#main_panel {
    text-align: center;
    word-wrap: normal;
    /*background-color: white;*/
}

#main_panel ul {
    font-weight:  bold;
    display: inline-block;
    font-size: 16px; /*  возвращаем размер шрифта */
    
}

.left_col
{    
        position:relative;
        float:left;
        padding:1.5em 1%;
        width:20%;
        text-align: left;
        font-size: 14px; /*  возвращаем размер шрифта */
        font-weight: bold;
}
.left_col a
{
    background-color:#e9e9e9;
}
.right_col
{    
        position:relative;
        float:right;
        padding:1.5em 2%;
        width:80%;
        /*background-color:#e9e9e9;*/
        color:inherit;
}
.right_col p
{
    text-align: left;
    font-size: 14px; /*  возвращаем размер шрифта */
}

#left_comment
{
        position:relative;
        float:left;
        padding:1.5em 2%;
        width:50%;
        /*background-color:#e9e9e9;*/
        /*color:inherit;*/   
}
#right_comment
{
        position:relative;
        float:right;
        padding:1.5em 2%;
        width:50%;
        /*background-color:#e9e9e9;*/
        /*color:inherit;*/   
}

#photo_left
{
    float: left;
    margin: 0 10px 5px 0; /* отступ над и под линией 5 пикселей */
}

.jumbotron
{
    padding: 40px;
    height: 100%;
}

/** Styling input[type=file] **/
#output img 
{
    border: 1px solid #dedede;
    color: #cc0000;
    padding: 10px;
    background: #fff;
}

#output 
{
    margin-top: 20px;
    display: none;
}

.dropzone {
    border: 4px dotted black;
    border-radius: 5px;
    color: black;
    padding: 10px;
}
 
.dropzone .title {
    font-size: 20px;
}
 
.dropzone input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
 
#footer {
    position: fixed;
    bottom: -22px;
    font-size: 8pt;
    /*text-align: left;*/
/*    width: 100%;*/
/*#vk_comments {
    margin: auto;
    
}*/
.dropzone .browser span {
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    font-size: 16px;
    height: 46px;
    line-height: 44px;
    padding: 0 36px;
}
 
.dropzone .browser span:hover{
    border: 1px solid #999;
}
