<div class="jumbotron">
<!--    <h3>Добрый день</h3>-->

    <div id = "photo_left" >
<img src="img/about3.jpg" alt="..." class="img-thumbnail" ></div>
    
    <p>
        Рада приветствовать Вас на моем сайте! 
    <br>
Меня зовут Елена Яковлева – я профессиональный астролог, 
провожу индивидуальные консультации и составляю персональные гороскопы. 
    </p>
    <p>
        Консультацию можно заказать любым удобным для Вас способом: лично, по телефону, через Skype, в письменном виде на электронную почту. 
    </p>
    <p>
        Я работаю с живыми людьми и общаюсь понятным языком, не загроможденным терминами и специальной лексикой. Обычная цена устной или 
письменной консультации у меня от 1500 рублей, в зависимости от трудоемкости работы для меня. Для людей, с которыми я общаюсь постоянно и 
регулярно, по текущим вопросам, цена очередной консультации 1000 рублей.
    </p>
</div>