    <h3>ВИДЫ И СТОИМОСТЬ УСЛУГ АСТРОЛОГА</h3>

<h3>ИНДИВИДУАЛЬНЫЕ ГОРОСКОПЫ: </h3>
<div class="jumbotron">
  <h3>Любовный гороскоп (всё о личной жизни)</h3>
    <p>
        Предназначается незамужним/неженатым/разведенным. Астролог определит, 
        есть ли у вас "венец безбрачия", в чем причины ваших неудач в личной жизни 
        и даст советы, как их преодолевать. Вы получите описание партнера 
        (мужчины или женщины), который будет вашим спутником жизни; узнаете место 
        вашего знакомства; каким будет ваш брак; каким будет ваш брачный партнер и 
        как сложится ваша семейная жизнь. Прогнозы, входящие в гороскоп - когда 
        родятся дети; когда состоится ваша свадьба; какой будет ваша личная жизнь
        - чего ожидать.
    </p>
    <p> Стоимость 1500 рублей </p>
  <p>
      <a class="btn btn-primary btn-lg" href="#" name="sample_love" role="button">Просмотр образца</a>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<div class="jumbotron">
  <h3>Гороскоп совместимости </h3>
    <p>
        Анализ Ваших взаимоотношений с интересующим Вас человеком: описание 
        сильных и слабых сторон в паре, степени душевной, сексуальной 
        совместимости и потенциала конфликтности. Точки возможного 
        соприкосновения и то, как это соприкосновение будет происходить, 
        психологическая совместимость, поведенческие реакции друг на друга. 
        Наиболее вероятные перспективы партнёрства (быть вам вместе или не быть) 
        и какие есть кармические связи между вами. 
    </p>
    <p> Стоимость 1500 рублей </p>
  <p>
      <a class="btn btn-primary btn-lg" href="#" name="sample_compat" role="button">Просмотр образца</a>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<div class="jumbotron">
  <h3>Индивидуальный гороскоп судьбы</h3>
    <p>
        Индивидуальный гороскоп состоит из пяти пунктов:
        <br>
        1. Анализ потенциала судьбы 
        <br>
        2. Личная жизнь: любовь, секс, брак, дети
        <br>
        3. Прогноз личной жизни
        <br>
        4. Профессия, карьера и финансовое положение
        <br>
        5. Важнейшие поворотные моменты в профессии и карьере в течение жизни. 
        <br>
        Гороскоп поможет Вам наилучшим образом узнать себя, сделать жизнь счастливее. 
    </p>
    <p> Стоимость 2500 рублей </p>
  <p>
      <a class="btn btn-primary btn-lg" name="sample_individual" role="button">Просмотр образца</a>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<div class="jumbotron">
  <h3>Персональный астрологический прогноз </h3>
    <p>
        Это индивидуальный гороскоп на год, который может быть начат с любой даты по 
        Вашему желанию. Гороскоп на год содержит рекомендации о том, как сделать 
        этот период более продуктивным и удачным, избежать неудач и неприятностей. 
        В персональном астрологическом прогнозе Вы найдете информацию о наиболее 
        вероятных событиях в течение анализируемого периода. 
    </p>
    <p> Стоимость 2500 рублей </p>
  <p>
      <a class="btn btn-primary btn-lg" name="sample_individual" role="button">Просмотр образца</a>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<div class="jumbotron">
  <h3>Кармический гороскоп </h3>
    <p>
        Ваше прошлое. Уроки, которые Вы должны усвоить в своем нынешнем воплощении на Земле. 
        Незаконченные дела в Ваших прошлых жизнях, ждущие своего завершения. 
        Опасности и несчастья, которые подстерегают Вас в нынешней жизни. 
        Награды и подарки судьбы, которые Вы получите в этой жизни. Роль вашей души. 
    </p>
    <p> Стоимость 1500 рублей </p>
  <p>
      <a class="btn btn-primary btn-lg" name="sample_karma" role="button">Просмотр образца</a>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<div class="jumbotron">
  <h3>Гороскоп профессии и финансов</h3>
    <p>
        Определение потенциала личности в профессиональной сфере - 
        ваши сильные и слабые стороны. Рекомендации по сферам трудоустройства. 
        Ваш финансовый потолок, источники доходов, причины хронических потерь. 
    </p>
    <p> Стоимость 1500 рублей </p>
  <p>
      <a class="btn btn-primary btn-lg" name="sample_finance" role="button">Просмотр образца</a>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<div class="jumbotron">
  <h3>Детский гороскоп</h3>
    <p>
        Выявление талантов у ребенка для того чтобы максимально развить те 
        истинные способности и задатки, которые принесут наибольший успех 
        ребенку в будущем, а так же помочь себе и Вашему ребенку в дальнейшем 
        выбрать учебное заведение и подходящую профессию.
    </p>
    <p> Стоимость 1500 рублей </p>
  <p>
      <a class="btn btn-primary btn-lg" name="sample_child" role="button">Просмотр образца</a>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<div class="jumbotron">
  <h3>Гороскоп совместимости для прогноза деловых отношений</h3>
    <p>
        Успешно используется в том числе и при подборе кадров для фирм 
        и организаций,  делается больший уклон в анализ интеллектуальной 
        и деловой совместимости, исследуются наиболее эффективные формы 
        и сферы сотрудничества, области вероятных конфликтов. 
        Выбор надёжного партнёра в бизнесе, понимание сильных и 
        слабых сторон в деловых отношениях помогут Вам эффективно 
        планировать работу и не тратить время на бессмысленное 
        (в итоге) сотрудничество.
    </p>
    <p>
        При расчёте подбора кадров рассматриваются деловые характеристики 
        кандидата, его совместимость с гороскопом организации и гороскопом 
        владельца организации.
    </p>
    <p> Стоимость 1500 рублей </p>
  <p>
<!--      <a class="btn btn-primary btn-lg" href="#" role="button">Просмотр образца</a>-->
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>

<h2>ДРУГИЕ УСЛУГИ: </h2>
<div class="jumbotron">
  <h3>Восстановление времени рождения</h3>
    <p>
        Для составления любого гороскопа требуется точное время рождения. 
        Если вы не знаете, когда появились на свет или не уверены в точности 
        этого времени – рекомендуется провести уточнение с помощью астролога. 
        Если время известно в пределах часа, стоимость ректификации составит 
        500 рублей, если интервал неопределенности входит в рамки +/- 5 часов, 
        то стоить ректификация будет 1000 рублей. Если известно только время суток 
        (утро, день и тд.), ректификация будет стоить 2000 рублей. 
        Если же время рождения неизвестно в течение суток, стоимость 
        ректификации составит 5000 рублей.
    </p>
    <p> Стоимость от 500 рублей </p>
  <p><a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a></p>
</div>

<div class="jumbotron">
  <h3>Подбор даты важного события</h3>
    <p>    
        Начало любого дела определяет его результат. Поэтому очень важно не 
        только правильно спланировать дело, но и начать его в подходящее время. 
    </p>
    <p> Стоимость 1000 рублей </p>
  <p><a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a></p>
</div>

<div class="jumbotron">
  <h3>Консультация астролога при решении проблемы</h3>
    <p>    
        Консультация астролога возможна по любой из проблемных ситуаций - семья, 
        брак, дети, любовные отношения, совместимость, бизнес, финансы, карьера, 
        образование, профессия, и любые другие вопросы по Вашему желанию. 
        Астролог посоветует Вам как поступить в той или иной ситуации, чтобы 
        минимизировать риски и получить наилучший результат. 
    </p>
    <p> Стоимость 1000 рублей </p>
  <p><a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a></p>
</div>