<h3>
    TYPES AND PRICES OF ASTROLOGY SERVICE
</h3>
<p>
    <strong>Love horoscope (all about the private life)</strong>
</p>
<p>
    <strong>Compatibility horoscope</strong>
</p>
<p>
    <strong>Individual horoscope of destiny</strong>
</p>
<p>
    <strong>Karma horoscope</strong>
</p>
<p>
    <strong>Horoscope of profession and finance</strong>
</p>
<p>
    <strong>Children's horoscope</strong>
</p>

<h3>
    OTHER SERVICES:
</h3>
<p>
    <strong>Recovery the time of birth</strong>
</p>
<p>
    <strong>Selection of the date of an important event</strong>
</p>
<p>
    <strong>Consultation of the astrologer for solving a problem</strong>
</p>