<script>
    $(document).ready (function() {
    $("#submitOrder").click(function (){
        console.log($("#horoscopeTypeOrder").val());
        $("#messageShow").hide();
        var name = $("#inputNameOrder").val();
        var email = $("#inputEmailOrder").val();
        var text = $("#textOrder").val();
        var horoscopeType = $("#horoscopeTypeOrder").val();
        var fail = "";
        if (name.length < 2) fail = "Имя должно быть не меньше 2 символов";
        else if (email.split('@').length - 1 === 0 || email.split('.').length - 1 === 0)
                fail = "Введен не корректный email";
        else if (horoscopeType.toString() == "Другое" && text.length < 10)
                fail = "Если тип услуги выбран \"Другое\", пожалуйста напишите ваш вопрос";
        if (fail !== ""){
            $('#messageShow').html(fail + "<div class='clear'><br></div>");
            $('#messageShow').show();
            return false;
        } 
        $.ajax({
           url: 'index.php',
           type: 'POST',
           cache: false,
           data: {'name': name, 'email': email, 'text': text, 'horoscopeType': horoscopeType},
           dataType: 'html',
           success: function(data){
                $('#messageShow').html(data + "<div class='clear'><br></div>");
                $('#messageShow').show();
           }
        });
            
    });    
});
</script>

<style>
#messageShow
{
    color: red;
}
</style>

<div class="jumbotron">
  <h3>Сделать заказ</h3>
  <br>
    <p>
        Для заказа гороскопа, оставьте свое имя, электронный адрес и выберете тип услуги. 
        <br>
        Дополнительно в текстовом поле можете задать любые интересующие вас вопросы. 
        <br>
        Я с Вами свяжусь в ближайшее время.            
    </p>
    
    <form class="form-inline" role="form" style = "text-align: left">
        <input class="form-control" id="inputNameOrder" placeholder="Введите Имя">
        <input type="email" class="form-control" id="inputEmailOrder" placeholder="Введите email">        
    </form>
    <br>
    <form class="form-inline" role="form" style = "text-align: left">
        <div class="form-group">
            Вид гороскопа   
            <select id="horoscopeTypeOrder" class="form-control">
              <option>Любовный гороскоп</option>
              <option>Гороскоп совместимости</option>
              <option>Индивидуальный гороскоп судьбы</option>
              <option>Кармический гороскоп</option>
              <option>Гороскоп профессии и финансов</option>
              <option>Детский гороскоп</option>
              <option>Деловая совместимость</option>
              <option>Восстановление времени рождения</option>
              <option>Подбор даты важного события</option>
              <option>Консультация астролога</option>
              <option>Другое</option>
            </select>
        </div>
    </form>
    <br>
    <p>
        Здесь Вы можете задать любые интересующие Вас вопросы, оставить дополнительные
        <br>
        контактные данные и прочую информацию, которую считаете необходимой.
    </p>
    <p>
        <textarea class="form-control" id="textOrder" rows="3"></textarea>
    </p>    
    <br>
    <div id="messageShow"></div>
  <p>
      <input class="btn btn-primary btn-lg" name="submitOrder" id = "submitOrder" type="button" value="Отправить">
  </p>
</div>







