<p>
    Hi! My name is Elena Yakovleva and I am a professional astrologer. 
    I provide individual consultations and make personal horoscope.
    Consultation can be ordered in any convenient way for you: in person, 
    by phone, via Skype, or e-mail.  
</p>
<p>
    I work with different people and communicate in plain language, 
    not cluttered terms and special vocabulary. Standard price for 
    oral or written advice starting from 1000 rubles, depending on 
    the complexity of the work for me. For the people with whom I 
    communicate constantly and regularly on current issues, 
    the price for regular consultation is 500 rubles.
</p>
