
<div class="jumbotron">
    <h3>Почему астрология?</h3>
    
<!--        <h3> <img src="img/why.jpg" alt="..." class="img-circle"> </h3>-->
    <br>
    <p>
        Представьте себе карту любой страны, вид сверху: куча дорог и у них 
        множество ответвлений, а у этих ответвлений еще пара десятков ответвлений, 
        а у тех… и т.д. Вот это ваша жизнь. И вы ежедневно сталкиваетесь с развилками, 
        принимаете решение куда пойти, потому что у вас есть свобода выбора. 
        Когда вы приходите к среднестатистической гадалке и она говорит: 
        "Вижу пойдешь этой дорогой..." - ничего она толком не видит, кроме одного 
        варианта развития событий, собственно поэтому и начинает вас на него 
        программировать. А астролог видит сразу все варианты. Но понятия не имеет, 
        что вы выберете, и посягать на свободу вашей воли не станет - это самый 
        страшный грех. Единственное, на что он имеет право - порекомендовать наиболее 
        удачный путь. Дальше дело за вами.
    </p>
    <h3> <img src="img/why.jpg" alt="..." class="img-circle"> </h3>
    <br>
    <p>
        Иногда люди идут к астрологу с ожиданием конкретики: "В марте вас уволят, 
        в августе вы встретите любовь с которой будете ровно два месяца, в декабре 
        к вам подойдет женщина с яблоками и скажет, что от вас беременна." Нет, так 
        это не работает. Я могу поведать тенденцию развития на год, удачные/неудачные 
        периоды для тех или иных сфер, посоветовать как избежать рисков, но не могу 
        выбирать за вас дорогу. У меня хорошо получается анализировать будущее по 
        конкретной теме, когда вы уже знаете, куда бы свернули сами, если б оказались 
        на развилке, о которой меня спрашиваете. В таком случае я с удовольствием 
        помогу отыскать к ней дорогу.
    </p>
    <p>
        Кроме того, являясь по своей натуре оптимистом, абсолютно уверена, что любое 
        негативное влияние планет, запрограммированное в нашем гороскопе судьбой, 
        можно и НУЖНО менять. Я в состоянии дать практические советы как проработать 
        негатив и усилить гармоничное влияние энергии планет. Ведь часто так бывает, 
        в человеке заложен огромный потенциал, который он не использует или использует 
        только мизерную часть от данных ему при рождении возможностей. Скорей всего 
        природа возьмет свое, и нежданное богатство свалится на этого счастливчика, 
        но на закате жизни, когда времени и сил насладиться успехами в полной мере 
        уже не будет. 
    </p>
    <p>
        Не упустите свой шанс!
    </p>
</div>