<div class="jumbotron">
  <h3>Кармический гороскоп</h3>
    <h3> <img src="img/karma.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Кармический гороскоп может дать ответы на вопросы: «Откуда я пришел? 
        Куда направляюсь?». В восточной астрологии ответы на эти сущностные 
        вопросы дает карма. Какая она у вас? Что вы познали в своей прошлой 
        жизни? И что вы должны сделать сейчас для того, чтобы стать лучше? 
        Кармический гороскоп может показать проблемы, не решенные в прошлой жизни, 
        последствия которых Вы испытываете на себе сейчас. Кармический гороскоп 
        поможет Вам выбрать правильный путь развития, укажет на накопленный опыт 
        прошлых жизней, опираясь на который можно двигаться вперед к высшей цели. 
    </p>
    <p>
        Согласно восточному учению, карма - это совокупность добрых и злых действий 
        человека, которые ведут его сквозь череду последующих существований; это 
        предрасположенность человека к определенным событиям; личный закон всей 
        жизни. В соответствии с теорией кармы, мы (люди) приходим сюда, на Землю 
        за тем, чтобы пройти и усвоить важные фундаментальные духовные уроки: 
        любовь, терпение, умеренность, равновесие, веру, преданность и т. д. 
        Когда человек испытывает определенный вид проблемы или напряженную 
        фазу жизни, он просто «встречает себя» - другими словами, приходится 
        сталкиваться с тем опытом, который он создал в прошлом (возможно, 
        совсем в недавнем, а возможно, в одной из предыдущих жизней - инкарнаций). 
        И каждый из нас призван решить свои индивидуальные задачи и выучить свои 
        уроки. Попытки же сложить с себя ответственность за свою жизнь, попытки 
        сделать вид, что духовной стороны жизни не существует, проигнорировать 
        даваемые Вам жизнью уроки и задания - редко приводят к хорошему. 
        Ничуть не лучше, «прожить не свою жизнь», слепо и бездумно следуя 
        навязываемым обществом идеалам.         
    </p>
    <p>
        Существует немного людей, которые 
        подобно Жанне Дарк знают от рождения, для чего они родились. 
        Нужно иметь очень хорошую интуицию, или сильных небесных покровителей, 
        которые подскажут правильное направление. Гораздо проще, не будучи 
        уверенным в своих ощущениях, прочитать свой индивидуальный кармический 
        гороскоп и понять свое направление. Кармический гороскоп включает в себя 
        следующую информацию: Ваши кармические долги и их причины. Как почистить 
        карму. Кармические задачи на настоящее воплощение Кармические уроки на 
        настоящее воплощение Незаконченные дела в Ваших прошлых жизнях, ждущие 
        своего завершения Белая карма. Награды и подарки судьбы, которые 
        Вы получите в этой жизни Черная карма. Опасности и несчастья, которые 
        подстерегают Вас в нынешней жизни Сколько жизней вами прожито и сколько 
        еще предстоит Для кого этот гороскоп: для Всех людей, желающих с помощью 
        прошлого заглянуть в будущее.
    </p>
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
