<div class="jumbotron">
  <h3>Консультация астролога</h3>
  <h3> <img src="img/consult.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        В жизни почти каждого из нас случаются моменты, когда 
        <strong>консультация астролога</strong> бывает очень необходима:
        <br>
        "…Прошло уже полгода, как Елена развелась с мужем. Мечта о счастливой 
        семейной жизни потерпела крах и на ее месте крошечной змейкой поселилась 
        холодная пустота. И Елена, казалось, без особых причин все время грустила, 
        тосковала, а утром даже не было сил открывать глаза. Раздражало практически все…. 
        Ей уже не верилось, что она, когда-либо снова будет любимой…"
        <br>
        "…Последние несколько дней Денис не мог заснуть. Он все время только 
        и думал о проблеме, которую никак не мог решить. Предложение о переходе 
        на новую работу было таким заманчивым, но… Друзья и родные наперебой 
        давали разные советы, а долгожданное решение никак не приходило. 
        Денису начинало казаться, что он просто ходит по замкнутому кругу, 
        не зная, как поступить…"
        <br>
        В этих и многих других случаях консультация астролога может оказаться весьма кстати. 
    </p>    
    <p>
        Консультация астролога необходима тогда: 
        <br>
        • когда  Вам не удается справиться самостоятельно с проблемой в течение длительного времени, 
        <br>
        • вы находитесь в состоянии принятия какого - либо решения и не знаете, как лучше поступить, 
        <br>
        • когда созрели изменить что-то в себе и своей жизни, но не знаете, как это лучше сделать, 
        <br>
        • когда безвыходная ситуация и не приходит никакого приемлемого решения, 
        <br>
        • когда есть волнение или страх перед будущим событием или тяжело переживается прошлое, 
        <br>
        • когда взаимоотношения не поддаются контролю или даже когда все - безнадежно - выход и выбор есть всегда! 
    </p>    
    <p>
        Этот перечень действительно краткий, поскольку у каждого человека 
        проблема или задача определяется по-своему: звучит, чувствуется, 
        ощущается и представляется индивидуально. 
        <br>
        Если Вы чувствуете, что в вашей жизни «что-то идет не так», что нужно 
        «срочно что-то менять», если Вы никак не можете принять решение или 
        если у Вас складывается впечатление бесконечно повторяющихся событий, 
        ошибок, несчастий. Когда кажется, что Вы вращаетесь в замкнутом круге 
        неизбежности и не найдете причину своего невезения – консультация 
        астролога поможет Вам лучше разобраться с ситуацией, в которой Вы оказались. 
        <br>
        К астрологу имеет смысл обращаться, когда перед Вами открываются 
        большие перспективы профессионального и личностного роста, когда 
        Вы пытаетесь сформулировать новые цели и задачи, когда задумываетесь 
        о возможных изменениях в различных жизненных сферах. 
        <br>
        Каждый из нас уникален в соотношении знаний, умений и навыков, и в 
        задачу астролога входит помощь человеку в понимании, где именно этот 
        набор качеств будет востребован и наилучшим образом оценен. Астролог 
        может помочь Вам найти достойное применение Вашим способностям, осознать 
        их, так как очень часто мы не ценим того, что имеем, что для нас легко 
        и естественно. Сделайте шаг навстречу своему будущему! 
    </p>  
    <h3> <img src="img/consult2.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <h3>КАКИЕ ВОПРОСЫ МОЖНО И НУЖНО ЗАДАВАТЬ НА КОНСУЛЬТАЦИИ:</h3>
    <br>
    <p>
        1. Самоанализ (слабые места) <br>
        • У меня много комплексов – как освободиться от них? <br>
        • Я - неудачник, почему и как это исправить? <br>
        • У меня постоянные проблемы с противоположным полом… <br>
        • Я одиночка, у меня нет друзей – почему? <br>
        • Много нервничаю – как приобрести спокойствие? <br>
        • У меня плохой характер – как устранить недостатки? <br>
        • У меня много вредных привычек, как избавиться от них? <br>
        • Нет сексуального влечения, боюсь близости… <br>
        • Каков мой путь – семья или карьера?
    </p>    
    <p>
        2. Любовь, знакомства, семья, дети <br>
        • Вступлю ли я в брак и если да, то когда? <br>
        • Как сложиться мой брак? <br>
        • Совместимы ли мы с партнером сексуально? <br>
        • Будет ли у меня ребенок и если да, то когда? <br>
        • Продолжать ли новое знакомство? <br>
        • Как изменится мое материальное положение в союзе с этим партнером? <br>
        • Как этот партнер может повлиять на мое здоровье, безопасность? <br>
        • Мы разводимся, стоит ли пытаться помириться? <br>
        • Как помочь моему ребенку в данной ситуации? <br>
        • Как решить проблему с родителями? 
    </p>   
    <p>
        3. Работа, карьера, финансы, недвижимость <br>
        • Что ждет меня на новой работе? <br>
        • Есть ли смысл работать именно здесь? <br>
        • Смогу ли я найти работу и как скоро это случится? <br>
        • Стоит ли заниматься этим направлением в бизнесе? <br>
        • Стоит ли с этим партнером работать в бизнесе? <br>
        • Стоит ли вкладывать капитал в данное дело? <br>
        • Когда у нас будет своя квартира? 
    </p>    
    <p>
        4. Карма и реаинкарнация <br>
        • Для каких целей этот человек мне послан судьбой? <br>
        • Является ли мое новое знакомство кармическим? <br>
        • Является ли мой муж (жена) партнером из прошлой жизни? <br>
        • Являются ли мои болезни кармическим искуплением? 
    </p>    
    <p>
        5. Переезды, путешествия <br>
        • Стоит ли мне менять место жительства? <br>
        • Как изменится моя жизнь, если я перееду в ту страну? <br>
        • В какие страны мне лучше путешествовать? <br>
        • Получится ли у меня эмигрировать? 
    </p>       
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
