<div class="jumbotron">
  <h3>Персональный астрологический прогноз</h3>
    <h3> <img src="img/birthtime.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Любой человек в сложной жизненной ситуации стремится узнать, что его ждет завтра, 
        а профессиональный астрологический прогноз лучшее средство для того, чтобы 
        приготовиться к худшему и вовремя увидеть лучшее в своей жизни. 
        Очень часто, в нынешней непростой жизни, люди оказываются в сложной 
        ситуации или испытывают мощнейший внутренний кризис и стресс. В этот момент помочь им 
        увидеть "свет в конце тоннеля" может консультация у профессионального 
        астролога и личный астрологический прогноз. Индивидуальный астрологический 
        прогноз профессионального астролога вполне может осветить будущее человека 
        и является мощным инструментом для помощи человеку в кризисный период. 
        Настоящий профессиональный астрологический прогноз базируется на учете 
        очень многих астрологических факторов и элементов гороскопа рождения 
        человека (в отличие от популярных астропрогнозов, которые основываются 
        лишь на знаке зодиака в котором находится  Солнце человека). 
    </p>
    <p>
        Жизнь очень сложная вещь. Невозможно жить полнокровно и периодически не 
        испытывать боли, не проходить через кризисы и глубокие трансформации личности. 
        Чаще всего совсем избежать этого в жизни невозможно, но нужно всегда помнить 
        и понимать, что боль и кризисы играют очень важную роль в  становлении и 
        эволюции личности человека. В то время как некоторые люди чувствуют себя 
        обессиленными и раздавленными после тяжелых испытаний, другие выходят из 
        жизненных кризисов обновленными и трансформированными, действительно более 
        живыми. Они очень многое в этот период понимают и меняют в себе. Кризис 
        можно рассматривать как катастрофу, как что-то, чего нужно избегать всеми 
        силами и любой ценой, но его можно считать поворотным пунктом, важной 
        ступенью в развитии - как возможность новой жизни, возможность измениться 
        и стать другим. По человечески можно понять желание любого человека 
        избегать болезненных ситуаций, желание все оставить так, как это было 
        до кризиса. Но все же существует возможность использования кризисного 
        времени для развития и роста, для нового понимания себя и жизни вокруг. 
        Нечто должно умереть, но и что-то новое нарождается. Ничто не остается 
        неизменным: старое уничтожается, давая дорогу новому. Только понимание 
        этого факта и вера в то, что все тяжелое и болезненное, что сейчас 
        происходит в жизни человека, имеет свой высший смысл и предназначение, 
        может ослабить боль, которую приносит человеку личностный кризис и дать 
        человеку силы выдержать всю его боль. И именно консультация у 
        профессионального астролога и индивидуальный астропрогноз могут 
        донести до человека смысл всего того, что сейчас с ним происходит 
        или будет происходить в будущем, и могут открыть перед ним жизненную 
        перспективу и единственно верное  направление личностных изменений. 
    </p>
    <p>
        Индивидуальный астрологический прогноз на ближайший год представляет собой 
        развернутое описание основных жизненных тенденций в течении одного года 
        с подробным помесячным описанием основных тем и активностей в этот период 
        (здоровье, карьера, работа, личная жизнь, финансы, психологическое состояние, 
        возможные опасные ситуации, проблемы в семье, поездки и т.п.). 
        Индивидуальный астрологический прогноз на год поможет вам с максимальной 
        эффективностью спланировать свою жизнь на ближайший год с учетом 
        полученной из астропрогноза информации и вашего понимания текущих 
        особенностей своей жизненной ситуации.      
    </p>
           
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
