<div class="jumbotron">
  <h3>Гороскоп совместимости</h3>
    <h3> <img src="img/comp1.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Хотите проверить совместимость? Индивидуальный гороскоп на совместимость 
        - это анализ психологической, сексуальной и бытовой совместимости с 
        партнером при помощи астрологических методов. Вы недавно познакомились 
        и только раздумываете - строить или нет отношения с этим человеком. 
        С помощью гороскопа на совместимость вы можете заранее узнать, 
        как могут сложиться ваши отношения с интересующим вас человеком. 
        Гороскоп на совместимость описывает возможные взаимоотношения двух людей, 
        помогает узнать о совместимости характеров и темпераментов партнеров. 
        Вы сможете в полной мере оценить характер партнера, уровень Вашей 
        сексуальной и психологической совместимости. Гороскоп на совместимость 
        может определить, склонны ли вы к наивности и самообману в ваших 
        отношениях, и даст возможность ясно и отчетливо увидеть перспективы 
        развития отношения и возможности брака. Вы уже давно знакомы и планируете 
        пожениться, но хотите узнать, что ждет Вас двоих в супружеских отношениях. 
        Рассчитанный индивидуально для каждой пары, индивидуальный гороскоп на 
        совместимость подскажет, насколько хорошо Вы подходите друг другу, и есть 
        ли будущее у вашего союза; в каких сферах жизни вас ждёт наивысшая гармония, 
        а в каких, наоборот, ваши интересы не совпадают; гармонично ли сочетание 
        ваших сексуальных энергий, и насколько хорошо Вы понимаете друг друга; 
        какие ваши личные качества более всего привлекают вашего партнёра, 
        насколько вы соответствуете его или её идеалу, и что в нём может 
        привлечь вас; будете ли вы терпеливы к партнеру или раздражительны? 
        Вы уже давно вместе, но Вас не устраивают Ваши отношения, 
        Вы сомневаетесь в их сохранении, и ищите выход из тупика. 
        Индивидуальный гороскоп на совместимость также помогает 
        переосмыслить существующие отношения. Ведь часто случается так, 
        что люди, которые живут вместе уже продолжительное время, по-настоящему 
        не знают друг друга, не замечая за внешними проявлениями истинную сущность 
        близкого человека. Гороскоп на совместимость даст ответ на эти и многие 
        другие вопросы о ваших взаимоотношениях. Узнайте больше друг о друге.    
    </p>
    <p>
        Гороскоп на совместимость включает в себя следующие темы:
        <br>
        • краткий анализ психологических и событийных закономерностей в картах двух партнёров;
        <br>
        • как Вы бессознательно воспринимаете его и как партнёр Вас;
        <br>
        • Ваша совместимость: что помогает и что мешает строить гармоничные отношения;
        <br>
        • риск разводов, измен, агрессии;
        <br>
        • рекомендации - конкретные стратегии и режимы поведения, как укрепить пару;
        <br>
        • ближайшее будущее пары (1 год), вектор развития отношений: выведем 
        компромиссный вариант сохранения отношений или, в случае глубокого 
        кризиса, разберём возможные варианты прекращения отношений с 
        минимальными психологическими и социальными потерями.
    </p>
    <p>
        Для кого этот гороскоп: 
        <br>
        • Для пар, только начинающих отношения. 
        <br>
        • Для пар, вступающих в брачный союз. 
        <br>
        • Для пар с проблемами в отношениях. 
        <br>
        • Для всех влюбленных, ищущих свое счастье!   
    </p>
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
