<div class="jumbotron">
  <h3>Подбор даты важного события</h3>
  <h3> <img src="img/important.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Когда наступает сезон лето-осень, мне, как астрологу, часто поступают 
        заказы от клиентов, интересующихся вопросами: "Каковы удачные дни для 
        свадьбы в отношении нашей пары?... Когда благоприятные дни для свадьбы 
        в июле или в августе?... Вы могли бы подобрать нам лучший день для 
        свадьбы?... Вы можете выбрать день свадьбы с помощью лунного календаря?... 
        Имеются ли для нашей пары счастливые дни для свадьбы в этом году?....". 
        Но все же многие влюбленные пары, чья свадьба уже не за горами, порой даже 
        не догадываются что момент времени, выбранный ими для дня регистрации 
        союза, может оказать влияние на будущее их молодой семьи самым важным 
        образом - способствуя ее гармонии и счастью (если судьбоносное «да» будет 
        произнесено в момент благоприятных космических вибраций), или, привнеся 
        негативные, конфликтные тенденции, нежелательные обстоятельства (если 
        момент окажется неблагоприятен).
    </p>
    <p>
        Не являясь единственным условием создания гармоничного и счастливого 
        союза, наряду с такими факторами как психологическая и физическая 
        совместимость с партнером, благоприятный момент  официальной регистрации 
        брака  может в значительной степени ослабить нежелательные, конфликтные 
        тенденции и наоборот - значительно усугубить проблемные факторы, в ряде 
        случаев – не давая даже шанса на   счастливое и продолжительное будущее 
        союза, если момент будет  выбран неудачно.
    </p>    
    <p>
        Астрология располагает многими методами, позволяющими увеличить 
        счастливые перспективы брака. Главный принцип астрологии состоит в том, 
        что гороскоп, составленный на момент, когда что-то начинает существовать, 
        предопределяет будущее этого «что-то», будь это человек, фирма, договор 
        или день свадьбы. Конечно, не в наших силах регулировать время рождения 
        человека, но в случаях, когда речь идет об основании предприятия, 
        заключения контракта или проведении брачной церемонии, выбор дня или 
        времени, которые обеспечат благоприятный гороскоп вполне в наших силах. 
    </p>    
    <br>
    <h3> <img src="img/important2.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        <strong>Как выбрать день свадьбы?</strong> Правильный выбор дня и 
        времени – работа, требующая огромных астрологических знаний и навыков. 
        Но существуют общие правила, следовать которым совсем не сложно. 
        Они известны еще с древних времен и не утратили своей силы до нашего 
        времени. Если Вы обладаете некоторыми астрологическими познаниями, то 
        сможете сами определить наиболее удачные дни свадьбы и время для регистрации брака.
    </p>    
    <p>
        Например, особое значение имеют знаки, где расположена Луна, Венера и 
        Асцендент того дня, в который вы хотите заключить брак. Если описывать 
        вкратце, то на момент заключения брака наилучшими положениями Асцендента, 
        Луны и Венеры являются знаки Льва, Стрельца и Рыб, первая половина 
        Близнецов, первые 20 градусов Тельца и последние 20 градусов Козерога. 
        Желательная фаза Луны – от первой четверти до полнолуния. В любом случае 
        Луна должна расти, а не убывать от полнолуния к конечной третьей фазе. 
        Немаловажны и лунные дни для свадьбы. Луна должна быть свободна от плохих 
        аспектов, особенно с Марсом, Сатурном, Ураном, Нептуном и Плутоном, 
        и в то же время иметь благоприятные аспекты к Юпитеру или Венере.
    </p>    
    <p>
        Венера также должна быть свободной от напряженных аспектов и иметь 
        благоприятный аспект к Юпитеру. Идеальным для Венеры, Юпитера и Луны 
        будет положение, при котором все они связаны между собой благоприятными 
        аспектами, и, если это возможно, находятся в знаках водного тригона. 
        Луна также не должна находиться в соединении с Солнцем. По утверждению 
        древних астрологов, это означает скорую смерть мужа или жены. В наше 
        время это соединение трактуется как «смерть для брака», то есть брак 
        распадется через очень короткое время, после того как будет заключен. 
        Таким образом, целью при выборе дня свадьбы является положение, при 
        котором благоприятные планеты находились бы в сильных позициях в угловых 
        домах, а «зловредные» были бы отодвинуты в падающие дома и максимально ослаблены.
    </p>    
    <p>
        В астрологии не приветствуются браки в дни затмений. Хотя есть и исключения 
        из правил. К ним относятся случаи, когда процесс отношений долгое время 
        длится и никак не может вступить в стадию завершения. Например, если 
        молодые люди долго живут в гражданском браке, периодически сходятся - 
        расходятся, восстанавливают отношения и снова ссорятся - мирятся... 
        Тогда затмение закрепляет решение о совместной жизни. Но в любом случае 
        существует риск - каждые полгода (в периоды затмений) будут происходить 
        провокации на разрыв, бурные выяснения отношений, ссоры, обиды и проч. 
    </p>    
    <p>
        Кто-то из Вас спросит: «А как же любовь? Разве она не важнее? 
        Разве она не может преодолеть проблемы в браке»? 
        <br>
        Да, любовь – это сила. Она окрыляет, облагораживает, стимулирует. 
        Ты ценишь другого человека, и многое прощаешь ему. 
        Но разве бесценному цветку не нужна благодатная почва? 
        Разве оттого, что он так прекрасен и драгоценен, его можно 
        посадить и в бесплодную землю? Нет. 
    </p>  
    <p>
        Профессиональный астролог может найти для пары благоприятный момент 
        для вступления в брак – найти ту самую «благодатную почву» для Вашей 
        любви. И если вы действительно понимаете важность правильно выбранного 
        времени, и у Вас нет желания рисковать близкими взаимоотношениями, 
        советую всем вступающим в брак подобрать благоприятную дату свадьбы 
        с помощью профессионала. Разумеется, такая услуга является платной, 
        но трудно переоценить ее значение.
    </p>
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
