<div class="jumbotron">
  <h3>Гороскоп профессии и финансов</h3>
    <h3> <img src="img/profession.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        После выбора партнера по жизни, выбор профессии является вторым по 
        значимости важным вопросом в жизни каждого человека. Это очень важный 
        и судьбоносный выбор, во многом определяющий, будете ли Вы счастливы 
        в этой жизни. Часто бывает так, что молодой человек уже оканчивает 
        школу, но так и не определился, чем же ему хочется заниматься; у него 
        еще не проявился интерес ни к одной профессии. Что делать? Обратиться 
        к астрологу, который подскажет потенциальные, глубоко спрятанные 
        способности. И, приложив энергию и упорство в данном направлении, 
        человек, наверняка, добьется успеха. Абсолютно каждый человек 
        многогранен в своих талантах и интересах, и существует много видов 
        деятельности, которыми можно заняться и которые способны принести 
        большое удовольствие. Большинство людей не реализует этой возможности. 
        Эти люди шагают по жизни как ограниченные личности, потому что вовремя 
        не открыли в себе многостороннюю натуру. 
        <br>
        Знание своего индивидуального 
        гороскопа профессии и финансов может избавить вас от мучительного 
        поиска оптимального выбора профессии, ведь в индивидуальной 
        астрологической карте каждого человека есть указание на профессии, 
        которые идеально подходят ему. Натальная карта гороскопа и ее анализ 
        может показать глубину каждого человека, его задатки, способности и 
        таланты. Вооруженному этими знаниями человеку станет легче выбирать 
        себе занятия для трудовой деятельности. Астрология может предложить 
        Вам набор возможностей, а окончательный выбор сделаете Вы.       
    </p>
        <h3> <img src="img/profession2.jpg" alt="..." class="img-thumbnail"> </h3>
<!--    <br>-->
    <p>
        Гороскоп профессии и финансов способен дать ответы на следующие вопросы:
        <br>
        Какие у меня есть деловые качества и таланты? 
        <br>
        Смогу ли я достигнуть финансового благосостояния? 
        <br>
        В какой сфере я смогу зарабатывать и быть на своем месте? 
        <br>
        Смогу ли я сделать хорошую карьеру? 
        <br>
        Смогу ли я открыть свое дело и преуспеть в нем?
    </p>
    <p>
        Кроме того, Вам станут известны следующие темы:
        <br>
        • Ваши бессознательные мотивации в финансовой сфере, какие идеи и 
        обстоятельства двигают Вас к успеху, как устроена Ваша личная 
        психологическая функция обращения с деньгами;
        <br>
        • событийные закономерности в деньгах: Ваш финансовый потолок, 
        источники доходов, причины хронических потерь;
        <br>
        • стратегии, как увеличить деньги прямо сейчас, не меняя 
        статус и работу;
        <br>
        • стратегии, как инвестировать, событийно выгодные источники 
        сбережения, как компенсировать событийность потерь;
        <br>
        • прогноз Вашего состояния на 1 год.
    </p>
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
