<div class="jumbotron">
  <h3>Детский гороскоп</h3>
      <h3> <img src="img/child.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Гороскоп ребенка, в первую очередь, очень важен для его родителей, 
        ведь каждый из нас хочет обеспечить своим детям счастливое будущее, 
        успешно реализовать их как в социальном, так и в семейном плане. 
        Ориентируясь на информацию детского гороскопа, Вы получаете уникальную возможность:
        <br>
        - Максимально развить те истинные способности и задатки, которые 
        принесут наибольший успех Вашему ребенку в будущем; 
        <br>
        - Помочь себе и Вашему ребенку в дальнейшем выбрать учебное 
        заведение и подходящую профессию; 
        <br>
        - Уберечь его от потенциальных жизненных рисков; 
        <br>
        - Гармонизировать отношения в семье, компенсируя его трудные качества 
        и максимально развивая его сильные и позитивные стороны.       
    </p>
    <p>
        Такая консультация поможет и самому ребенку, когда он станет уже 
        взрослым и сможет успешно корректировать свою жизнь, выбирая оптимальные стратегии поведения. 
    </p>
    <p>
        Итак, детский гороскоп – тот необходимый набор советов и рекомендаций, 
        который поможет Вам воспитать самостоятельную интересную личность! 
        Заказав у специалистов такую услугу, Вы получаете следущий расклад 
        особенностей жизни своего ребенка:
        <br>
        - Каковы врожденные таланты и как успешно их применить;
        <br>
        - Ключевые особенности характера и ведущие потребности;
        <br>
        - Самооценка, уверенность, любовь и уважение к себе;
        <br>
        - Врожденные минусы характера и механизмы их компенсации;
        <br>
        - Каковы глубокие мотивации и основные желания ребенка, каким образом можно применить их в социуме;
        <br>
        - Как сподвигнуть ребенка на активную учебу, его особенности восприятия 
        информации, по каким критериям выбирать преподавателей;
        <br>
        - Рекомендации по воспитанию и взамодействию в семье, личное восприятие 
        ребенком каждого из родителей, какую роль будет играть семья в его жизни;
        <br>
        - Куда пойти учиться, чтобы успешно реализоваться в социуме и иметь высокий уровень дохода;
        <br>
        - Как сложится карьера;
        <br>
        - Что ожидает в личной жизни;
        <br>
        - Основные событийные риски + потенциальные риски по здоровью;
        <br>
        - Задачи в данном воплощении, какие качества стоит усилить, а какие минимизировать. 
    </p>
    <p>
        Детский гороскоп – это ключ к пониманию Вашего ребенка, который открывает дверь в его светлое будущее!  
    </p>
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
