<div class="jumbotron">
  <h3>Индивидуальный гороскоп судьбы</h3>
  <h3> <img src="img/destiny.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Индивидуальный гороскоп по дате рождения составляется по натальной 
        карте человека. Натальная карта в свою очередь строится на основании 
        точного времени и места рождения человека. Это как бы его «космический 
        паспорт», который несет строго индивидуальную информацию о своем владельце. 
        Ваш личный гороскоп несет в себе всю информацию о возможных вариантах 
        судьбы и жизни. Он отражает физический мир, духовный и даже кармический 
        (несет на себе отпечаток наших предыдущих воплощений). Индивидуальный 
        гороскоп судьбы в состоянии дать ответ на многие интересующие Вас вопросы: 
        касаются ли они Вашей эмоциональной жизни, или же материального благополучия. 
        Тем самым, натальная карта и ее расшифровка – это ваш грамотный и точный 
        путеводитель, который позволяет:
        <br>
        - минимизировать личные жизненные риски через механизм их компенсации;
        <br>
        - направить свой потенциал в продуктивное и прибыльное русло;
        <br>
        - выйти из цикличного круга неудач, превратив хаотичные действия в качество и жизненный успех.
    </p>
    <p>
        Личная карта описывает неповторимую индивидуальность человека, 
        раскладывая по полочкам все нюансы и детали основных сфер жизни, 
        а так же вероятных трудностей и будущих достижений.
        <br>
        Задача профессионального астролога – перевести язык астрономических 
        сплетений на язык простой и доступный каждому. Ведь толкование карты – 
        достаточно сложная задача, требующая внимательного и ответственного 
        подхода, а вместе с тем - большого опыта и глубочайших знаний.   
    </p>
    <p>
        Обратившись за консультацией к такому специалисту, вы получаете подробный 
        расклад личности и отдельных областей жизни, где освещаются такие темы как:
        <br>
        - Ключевые особенности характера;
        <br>
        - Ведущие потребности жизни и главные мотивации;
        <br>
        - Самооценка/ уверенность/ ваш основной источник жизни и оптимизма;
        <br>
        - Врожденные таланты и сильные качества;
        <br>
        - Врожденные минусы	 + механизмы их компенсации;
        <br>
        - Основные событийные риски;
        <br>
        - Особенности сферы личной жизни;
        <br>
        - Финансы и карьера;
        <br>
        - Главные задачи воплощения.
    </p>
    <p>
        Итак, получив такой спектр рекомендаций и вооружившись практически 
        применимым знанием, Вы освобождаете себя от негативных закономерностей 
        и нежелательных итогов, становясь настоящим творцом и автором своей жизни!
        <br>
        Для кого этот личный гороскоп: для всех людей, желающих получить о 
        себе знания, дающие возможность изменить свою жизнь к лучшему! 
    </p>
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
