<div class="jumbotron">
  <h3>Восстановление времени рождения</h3>
    <h3> <img src="img/birthtime.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Большинство людей рождаются несколькими минутами раньше или позже, 
        чем это зафиксировано в их медицинской карте. Некоторые знают свое 
        время рождения только приблизительно со слов мамы. Такая неточность 
        даже в радиусе -/+ 5 минут может очень сильно сказаться на натальной 
        карте, и уже тем более на прогнозе будущих событий жизни. Точное время 
        рождения вносит в карту индивидуаль¬ность. Ничто не расстраивает 
        астролога больше, чем работа с натальной картой, рассчитанной по 
        неправильному времени. Представьте только - сидеть несколько часов 
        перед натальной картой, интерпретировать ее, а затем услышать от клиента: 
        «Это на меня не очень похоже…» Думаю, что это убедит Вас в том, что 
        время рождения необходимо уточнять! Ректификация времени рождения 
        (уточнение времени рождения по событиям жизни) требует времени и 
        кропотливой работы, но это время вознаграждается сполна точно 
        составленным гороскопом. Существует несколько способов ректификации, 
        некоторые из которых основаны на астрологических методах прогнозирования, 
        в классической астрологии это: 
        <br>
        1. Весы (Трутина) Гермеса; 
        <br>
        2. Первичные дирекции; 
        <br>
        3. Вторичные дирекции; 
        <br>
        4. Профекции; 
        <br>
        5. Транзиты; 
        <br>
        6. Метод Бонатти; 
        <br>
        7. Закон гармонии Глана; 
        <br>
        8. Метод типологии; 
        <br>
        9.Комбинированная ректификация (по значимым дням / событиям жизни; 
        по данным гороскопов родственников и близких; исходя из момента обращения к астрологу). 
    </p>
    <p>
        Что необходимо астрологу для проведения ректификации времени рождения: 
        <br>
        <br>
        <strong>А.</strong> 7-9 важных дат из Вашей жизни: 
        <br>
        1. Брака или развода своего/родителей. 
        <br>
        2. Смерти одного из родителей. 
        <br>
        3. Рождения ребенка или брата/сестры. 
        <br>
        4. Смерти ребенка или брата/сестры. 
        <br>
        5. Важного переезда. 
        <br>
        6. Важного профессионального достижения или признания достижения 
        (защита диссертации, окончание Вуза, победа в конкурсе). 
        <br>
        7. Начала болезни или проведение хирургической операции. 
        <br>
        8. Любого значительного эмоционального события. 
        <br>
        <br>
        <strong>Б.</strong> Ваша фотография (если время рождения неизвестно 
        вообще), ведь физическая внешность может подсказать Асцендент 
        (куспид первого дома). Например:
        <br>
        1. Круглое лицо, влажные глаза: Рак. 
        <br>
        2. Худое или тонкое тело, быстрые, беспокойные движения: Близнецы. 
        <br>
        3. Бледная кожа, овальное лицо, прямой нос: Дева. 
        <br>
        4. Излишний рост, очень худой: Водолей или Стрелец. 
        <br>
        5. Завораживающие, почти таинственные глаза; маленькие или красивой формы руки и стопы: Рыбы. 
        <br>
        6. Глубокий голос, темные волосы, жесткие, вьющиеся и густые: Скорпион. 
        <br>
        7. Цветущее лицо, крупные кости, яркая личность: Лев. 
        <br>
        8. Толстая или заметная шея, сутулые плечи: Телец. 
        <br>
        9. Румянец, любые шрамы или метки на голове или висках, густые брови: Овен. 
        <br>
        <br>
        <strong>В.</strong> Ответы на проверочные вопросы, которые при необходимости задаст 
        астролог для подтверждения своих выводов. 
    </p> 
    <br><br>
    <h4>АНКЕТА ДЛЯ ПРОВЕДЕНИЯ УТОЧНЕНИЯ ВРЕМЕНИ РОЖДЕНИЯ</h4>
    <br>
    <p>
        Если вы хотите узнать точное время вашего рождения (провести ректификацию) 
        - вам нужно обратиться к астрологу и предоставить ему ответы на 
        нижеперечисленные вопросы. Или на некоторые из них. Некоторые из этих 
        вопросов могут Вас смутить или вызвать нежелание отвечать на них. 
        Но Вы должны помнить, что чем больше Вы предоставите точных данных, 
        тем точнее и правильнее будет проведена ректификация гороскопа:
        <br>
        • Родители – дата и место рождения отца и матери. Если их нет в живых, 
        то необходимо указать время, место и причину их смерти. 
        <br>
        • Образование – что, где и когда закончили. 
        <br>
        • Перемены в карьере – дата и место начала работы, изменения мест 
        работы, видов деятельности с указанием дат. 
        <br>
        • Переезды – куда и когда, точные даты. 
        <br>
        • Замужество или женитьба (перечислить все браки или совместное 
        проживание с указанием дат). Считается браком и то время (не меньше 
        года), которое проведено партнерами вне официального брака при 
        совместной жизни и ведении общего хозяйства. Главное - с наибольшей 
        точностью определить дату начала совместной жизни. 
        <br>
        • Дети – точное время и место рождения. У женщин считается все – 
        и аборты, и умершие дети. Особое значение имеет первый ребенок, 
        неважно, это – рожденный ребенок, аборт или умерший ребенок. 
        Вообще, точные даты о детях - главный показатель для ректификации. 
        У мужчин принимаются во внимание дети и аборт от него, а также умершие 
        дети только в том случае, если мужчина знает об этом ребенке и принимает 
        активное участие в его судьбе – ездит в больницу, переживает его рождение и т.д. 
        <br>
        • Ваши болезни – хронические или вызвавшие оперативное вмешательство. 
        Точно указать дату и место операции. 
        <br>
        • Несчастные случаи – точное указание времени и места происшествия. 
        Значительные, по вашему мнению, а также счастливые события в вашей 
        жизни, встречи, вызвавшие большие волнения, перемену мировоззрения 
        – где и когда они произошли. 
        <br>
        • Можно указать и другие даты из вашей жизни, которые вы точно помните 
        и считаете важными для вас. Такие, например, как пребывание в 
        больницах, получение наследства, публикация книги, встреча с 
        другом, зарубежные поездки, карьерные изменения и так далее. 
    </p>    
    <p>
        Все эти даты необходимо указать с точностью до полугода. Если даты 
        будут точными, время Вашего рождения будет определено с точностью до 
        4 минут, и это даст возможность построить Вам точный гороскоп. 
        Конфиденциальность полностью гарантирована. 
    </p>       
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
