<div class="jumbotron">
  <h3>Любовный гороскоп</h3>
<!--  <div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/love1.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/love2.jpg" alt="...">
    </a>
  </div>
</div>-->
    <h3> <img src="img/love.jpg" alt="..." class="img-thumbnail"> </h3>
    <br>
    <p>
        Индивидуальный любовный гороскоп интересует всех одиноких людей. 
        Многие прибегают к гаданиям, надеясь, что гадания развеют перед 
        ними занавесу неизвестности. Эти заботы понятны, ведь для каждого 
        человека желание найти вторую половинку и создать семью естественно 
        и закономерно. Любовь – вот что ищет в браке большинство людей. 
        Мы хотим быть любимыми и любить. Возможно, Вы не испытываете 
        недостаток внимания со стороны противоположного пола, может быть, даже 
        есть любимый человек, а вступить в брак все как-то не получается… 
        Возможно, каждый раз, когда в личной жизни снова случается неудача, 
        Вы задумываетесь: а может быть, со мной что-то не в порядке?… 
        Сидит что-то внутри меня, что не дает мне быть таким же, как все 
        нормальные люди, или это просто роковое стечение обстоятельств?… 
        Давайте не торопиться обвинять ни себя, ни судьбу, а лучше постараемся 
        проанализировать, что же на самом деле мешает Вам вступить в брак и 
        когда и за кого Вам действительно суждено выйти замуж или жениться. 
        Если вы устали от неопределенности, обратитесь с этим вопросом к астрологу. 
        Любовный гороскоп определит вероятность вступления в брачный союз в 
        ближайшие несколько лет, укажет наиболее вероятное время для начала 
        романа и образ кандидата в нареченные. В моих силах сказать Вам о 
        конкретном периоде, в Ваших силах не упустить свой шанс.
    </p>
    <p>
        Проблематика одиночества и неудачи в личной жизни.
        <br>
        Данная услуга предоставляет подробнейший анализ элементов 
        Вашей личной жизни, а также отвечает на все волнующие Вас вопросы, 
        связанные с данной тематикой.
        <br>
        Гороскоп личной жизни поможет Вам узнать причины неудач в отношениях 
        с противоположным полом и нейтрализовать их негативные влияния. 
        <br>
        Его основная задача – максимально гармонизировать Вашу любовную сферу, 
        компенсировать все заложенные в карте риски и открыть перспективы 
        счастливых отношений! Консультация личной жизни успешно решает такие проблемы как:
        <br>
        - Частые разрывы отношений;
        <br>
        - Отсутствие взаимных чувств;
        <br>
        - Постоянные измены и предательство;
        <br>
        - Хроническое одиночество и отсутствие брака;
        <br>
        - Равнодушие со стороны противоположного пола;
        <br>
        - Провалы в попытках найти партнера мечты.
    </p>
    <p>
        Анализ личной жизни успешно применяется и в прогнозировании важных 
        встреч и значимых событий на личном фронте, оценивает перспективы 
        брака и рождения детей в будущем.
    </p>
    <p>
        Индивидуальный любовный гороскоп включает следующие вопросы: 
        <br>
        • какие типы мужчин «запрограммированы» в Вашем гороскопе в качестве характерно встречаемых партнёров;
        <br>
        • поиск золотой середины между партнёром мечты и реальными людьми, с кем обстоятельства позволяют создать пару; 
        <br>
        • стратегии решения проблемы одиночества;
        <br>
        • анализ рисков измен, развода, безбрачия;
        <br>
        • краткий прогноз на ближайшее будущее: где, как, когда и с кем можно познакомиться.
    </p>
    <p>
        Персональный любовный гороскоп позволит Вам лучше понять свою личную 
        жизнь и использовать полученные знания для привлечения к себе любви, 
        исцеления сердечных ран, поиска родственной души, и многого другого. 
        Для кого этот гороскоп: для всех одиноких людей, ищущих свою вторую половинку.
    </p>
    
  <p>
      <a class="btn btn-primary btn-lg" name="make_order" role="button">Заказать</a>
  </p>
</div>
